In [1]:
import numpy as np
import pandas as pd

from collab2.foraging.toolkit import add_velocity, dataObject, rescale_to_grid

In [2]:
# create a test object with random data
num_frames = 8
num_foragers = 4
grid_size = 30
n_nans = int(num_frames * num_foragers / 5)
n_missing = int(num_frames * num_foragers / 5)
gridMin = -1
gridMax = 1

np.random.seed(42)

# generate data in a unit disk
theta = 2 * np.pi * np.random.rand(num_frames * num_foragers)
r = np.random.rand(num_frames * num_foragers)

data = {
    "x": r * np.cos(theta),
    "y": r * np.sin(theta),
    "time": np.tile(np.arange(num_frames), num_foragers),
    "forager": np.concatenate([i * np.ones(num_frames) for i in range(num_foragers)]),
}

foragersDF = pd.DataFrame(data)

# add nan values
nan_ind = np.random.randint(0, num_frames * num_foragers, size=n_nans)
foragersDF.loc[nan_ind, ["x", "y"]] = np.nan

# remove values for certain time points
drop_ind = np.random.randint(0, num_frames * num_foragers, size=n_missing)
foragersDF = foragersDF.drop(drop_ind)

# scaling and subsampling
foragersDF_scaled = rescale_to_grid(
    foragersDF, size=grid_size, gridMin=gridMin, gridMax=gridMax
)
foragers_object = dataObject(foragersDF_scaled, grid_size=grid_size, frames=num_frames)

display(foragers_object.foragersDF)

/Users/Admin/Repositories/collab-creatures/collab2/foraging/toolkit/utils.py:36: UserWarning:  Nan values in data.
                Specify handling of missing data using `skip_incomplete_frames` argument to `generate_all_predictors`
  warnings.warn(
/Users/Admin/Repositories/collab-creatures/collab2/foraging/toolkit/utils.py:53: UserWarning: Missing frames encountered for forager 0, adding NaN fillers.
                    Specify handling of missing data using `skip_incomplete_frames` argument to
                    `generate_all_predictors`
  warnings.warn(
/Users/Admin/Repositories/collab-creatures/collab2/foraging/toolkit/utils.py:53: UserWarning: Missing frames encountered for forager 1, adding NaN fillers.
                    Specify handling of missing data using `skip_incomplete_frames` argument to
                    `generate_all_predictors`
  warnings.warn(
/Users/Admin/Repositories/collab-creatures/collab2/foraging/toolkit/utils.py:53: UserWarning: Missing frames encountered for forager 3, adding NaN fillers.
                    Specify handling of missing data using `skip_incomplete_frames` argument to
                    `generate_all_predictors`
  warnings.warn(

       x     y  time  forager
0    NaN   NaN     0        0
1   28.0  10.0     1        0
2   13.0   0.0     2        0
3    5.0   7.0     3        0
4   17.0  18.0     4        0
5   15.0  16.0     5        0
6    NaN   NaN     6        0
7   19.0  10.0     7        0
8    NaN   NaN     0        1
9   13.0   7.0     1        1
10  15.0  15.0     2        1
11  28.0  12.0     3        1
12   NaN   NaN     4        1
13  17.0  24.0     5        1
14   NaN   NaN     6        1
15  18.0  22.0     7        1
16  12.0  22.0     0        2
17  12.0  14.0     1        2
18   1.0  21.0     2        2
19  12.0  26.0     3        2
20   4.0   5.0     4        2
21  23.0  25.0     5        2
22  12.0  23.0     6        2
23   5.0  25.0     7        2
24   NaN   NaN     0        3
25  15.0  12.0     1        3
26  15.0  15.0     2        3
27   NaN   NaN     3        3
28   NaN   NaN     4        3
29  18.0  16.0     5        3
30   5.0   7.0     6        3
31  17.0  19.0     7        3

In [3]:
foragers, foragersDF = add_velocity(foragers_object.foragers, dt=3)

display(foragers[0])

      x     y  time  forager    v_dt=3  theta_dt=3
0   NaN   NaN     0        0       NaN         NaN
1  28.0  10.0     1        0  4.533824    2.512796
2  13.0   0.0     2        0  5.374838    1.446441
3   5.0   7.0     3        0       NaN         NaN
4  17.0  18.0     4        0  2.748737   -1.325818
5  15.0  16.0     5        0       NaN         NaN
6   NaN   NaN     6        0       NaN         NaN
7  19.0  10.0     7        0       NaN         NaN

In [4]:
# function does not compute values if they already exist

foragers[0]["v_dt=3"] = 0
foragers[0]["theta_dt=3"] = 0

foragers, foragersDF = add_velocity(foragers, dt=3)

display(foragers[0])

/Users/Admin/Repositories/collab-creatures/collab2/foraging/toolkit/velocity.py:14: UserWarning: Using existing velocity data.
                Delete corresponding columns from foragersDF to re-calculate velocity values.
  warnings.warn(

      x     y  time  forager  v_dt=3  theta_dt=3
0   NaN   NaN     0        0       0           0
1  28.0  10.0     1        0       0           0
2  13.0   0.0     2        0       0           0
3   5.0   7.0     3        0       0           0
4  17.0  18.0     4        0       0           0
5  15.0  16.0     5        0       0           0
6   NaN   NaN     6        0       0           0
7  19.0  10.0     7        0       0           0