In [116]:
import numpy as np
import pandas as pd
import pickle
import utils
import success_metrics 
import imp
imp.reload(success_metrics)

In [117]:
with open('communicatorsDFs.pkl', 'rb') as f:
    communicatorsDFs = pickle.load(f)

display(communicatorsDFs)

[        x     y  time  bird    type
 0    20.0   9.0     1     1  random
 1    18.0  10.0     2     1  random
 2    17.0  12.0     3     1  random
 3    15.0  12.0     4     1  random
 4    16.0  12.0     5     1  random
 ..    ...   ...   ...   ...     ...
 135  10.0  23.0   136     4  random
 136  11.0  25.0   137     4  random
 137   9.0  26.0   138     4  random
 138   9.0  25.0   139     4  random
 139   0.0   0.0   140     4  random

 [560 rows x 5 columns],
     x   y  time
 0   0  24     1
 1   1  24     1
 2   2  24     1
 3   3  24     1
 4   0  25     1
 .. ..  ..   ...
 1   0  25    42
 0   0  24    43
 1   0  25    43
 0   0  25    44
 0   0  25    45

 [471 rows x 3 columns]]

In [118]:
birdsDF = communicatorsDFs[0]
rewardsDF = communicatorsDFs[1]

display(birdsDF)

        x     y  time  bird    type
0    20.0   9.0     1     1  random
1    18.0  10.0     2     1  random
2    17.0  12.0     3     1  random
3    15.0  12.0     4     1  random
4    16.0  12.0     5     1  random
..    ...   ...   ...   ...     ...
135  10.0  23.0   136     4  random
136  11.0  25.0   137     4  random
137   9.0  26.0   138     4  random
138   9.0  25.0   139     4  random
139   0.0   0.0   140     4  random

[560 rows x 5 columns]

In [119]:
display(birdsDF['bird']) # extract a specific column using the column's label

0      1
1      1
2      1
3      1
4      1
      ..
135    4
136    4
137    4
138    4
139    4
Name: bird, Length: 560, dtype: int64

In [120]:
display(birdsDF[0:140]) # slice to get rows 1 through 10 of the

        x     y  time  bird    type
0    20.0   9.0     1     1  random
1    18.0  10.0     2     1  random
2    17.0  12.0     3     1  random
3    15.0  12.0     4     1  random
4    16.0  12.0     5     1  random
..    ...   ...   ...   ...     ...
135   1.0  15.0   136     1  random
136   1.0  16.0   137     1  random
137   1.0  17.0   138     1  random
138   2.0  15.0   139     1  random
139   0.0   0.0   140     1  random

[140 rows x 5 columns]

In [121]:
# get the duration of the simulation (part of metadata? saved in a dictionary??)
nframes = 140
edge_size = 30
time_to_first_reward = -1

singlebirdDF = birdsDF[0 : nframes]

# # TEST: creating a fake singlebirdDF to test this code 
# x_arr = np.array([1, 2, 3, 4, 5])
# y_arr = np.array([1, 24, 24, 2, 3])
# time_arr = np.array([1, 2, 3, 4, 5])
# bird_id = np.array([1, 1, 1, 1, 1])
# singlebirdDF = pd.DataFrame({'x': x_arr, 'y': y_arr, 'time': time_arr, 'bird':bird_id})


#everything from here on will go inside the function compute_time_to_first_food 
# extract the xy location of the bird at that time frame 
xlocs = singlebirdDF['x'].to_numpy()  # extract the x locations at each frame 
ylocs = singlebirdDF['y'].to_numpy()

# print(ylocs)

birdlocs1D_alltimes_arr = utils.loc2Dto1D(xlocs, ylocs, 30)

print(birdlocs1D_alltimes_arr)

# for each time point in the bird's trajectory, check if the bird is at a reward location
# # for t in range(nframes): 
for t in range(5): 
    # extract the rows of the rewards table that correspond to time t 
    rewards_t = rewardsDF[rewardsDF['time'] == t]
    rewards_t_xlocs = rewards_t['x'].to_numpy()  # extract the x locations at each frame 
    rewards_t_ylocs = rewards_t['y'].to_numpy()
    rewards_t_loc1D_arr = utils.loc2Dto1D(rewards_t_xlocs, rewards_t_ylocs, 30) # array of locations occupied by a reward at time t

    # birdlocs1D_alltimes_arr = np.array([1,2,3,6,5])
    # rewards_t_loc1D_arr = np.array([9, 8, 7, 6, 5])
    # for each reward item at time t, check if the bird's location matches the location of that reward 
    for id in range(len(rewards_t_loc1D_arr)):
        if birdlocs1D_alltimes_arr[t] == rewards_t_loc1D_arr[id]:
            time_to_first_reward = t 
            break

    if time_to_first_reward > 0:
        break

print(rewards_t_xlocs)
print(rewards_t_ylocs)
print(rewards_t_loc1D_arr)
print(time_to_first_reward)

[290. 318. 377. 375. 376. 318. 377. 439. 377. 346. 287. 257. 197. 167.
  77.  15.  45.  46.  15.  73.  41.  42.  41.  70. 101. 159. 131. 221.
 192. 162. 220. 249. 307. 308. 280. 218. 190. 218. 159. 129.  39.   7.
  65.  67.  35.  94.  97. 129. 187. 156. 158. 158. 161. 132. 131. 101.
  11.  39.  10.  40.  69.  66.  38.  97.  37.  66.  67.  37.  95.  33.
  36.   8.   5.  95. 127. 157. 157. 158. 127. 127. 127. 155. 184. 274.
 243. 304. 214. 274. 245. 243. 271. 241. 301. 362. 393. 422. 420. 452.
 451. 361. 420. 390. 450. 392. 451. 513. 453. 514. 545. 542. 540. 602.
 574. 543. 545. 515. 513. 574. 605. 543. 544. 572. 540. 571. 631. 570.
 542. 570. 540. 543. 602. 661. 600. 541. 541. 451. 481. 511. 452.   0.]
[0 1 2 3 0 1 2 3 0 1 2 3 0 1 2 3]
[24 24 24 24 25 25 25 25 26 26 26 26 27 27 27 27]
[720 721 722 723 750 751 752 753 780 781 782 783 810 811 812 813]
-1

In [122]:
x_arr = np.array([1, 2, 3, 4, 5])
y_arr = np.array([1, 24, 24, 2, 3])
time_arr = np.array([1, 2, 3, 4, 5])
bird_id = np.array([1, 1, 1, 1, 1])
singlebirdDF = pd.DataFrame({'x': x_arr, 'y': y_arr, 'time': time_arr, 'bird':bird_id})

bird_xlocs = singlebirdDF['x'].to_numpy()  # extract the x locations at each frame 
bird_ylocs = singlebirdDF['y'].to_numpy()

# print(ylocs)

# birdlocs1D_alltimes_arr = utils.loc2Dto1D(xlocs, ylocs, edge_size)

# print(birdlocs1D_alltimes_arr)

# for each time point in the bird's trajectory, check if the bird is at a reward location
# # for t in range(nframes): 
for t in range(5): 
    # extract the rows of the rewards table that correspond to time t 
    rewards_t = rewardsDF[rewardsDF['time'] == t]
    rewards_t_xlocs = rewards_t['x'].to_numpy()  # extract the x locations at each frame 
    rewards_t_ylocs = rewards_t['y'].to_numpy()
    # rewards_t_loc1D_arr = utils.loc2Dto1D(rewards_t_xlocs, rewards_t_ylocs, 30) # array of locations occupied by a reward at time t

    # birdlocs1D_alltimes_arr = np.array([1,2,3,6,5])
    # rewards_t_loc1D_arr = np.array([9, 8, 7, 6, 5])
    # for each reward item at time t, check if the bird's location matches the location of that reward 
    for id in range(len(rewards_t)):
        # if birdlocs1D_alltimes_arr[t] == rewards_t_loc1D_arr[id]:
        if bird_xlocs[t] == rewards_t_xlocs[id] and bird_ylocs[t] == rewards_t_ylocs[id]:
            time_to_first_reward = t 
            break

    if time_to_first_reward > 0:
        break

print(time_to_first_reward)

1

In [123]:
display(rewardsDF)
rewards_at_time_t = rewardsDF[rewardsDF['time'] == 2]
display(rewards_at_time_t)

reward_xlocs = rewards_at_time_t['x'].to_numpy()  # extract the x locations at each frame 
reward_ylocs = rewards_at_time_t['y'].to_numpy()
rewardlocs1D = utils.loc2Dto1D(reward_xlocs, reward_ylocs, 30)
print(rewardlocs1D)

    x   y  time
0   0  24     1
1   1  24     1
2   2  24     1
3   3  24     1
4   0  25     1
.. ..  ..   ...
1   0  25    42
0   0  24    43
1   0  25    43
0   0  25    44
0   0  25    45

[471 rows x 3 columns]

    x   y  time
0   0  24     2
1   1  24     2
2   2  24     2
3   3  24     2
4   0  25     2
5   1  25     2
6   2  25     2
7   3  25     2
8   0  26     2
9   1  26     2
10  2  26     2
11  3  26     2
12  0  27     2
13  1  27     2
14  2  27     2
15  3  27     2

[720 721 722 723 750 751 752 753 780 781 782 783 810 811 812 813]

In [128]:
# calling the function now
# get the duration of the simulation (part of metadata? saved in a dictionary??)
nframes = 140
edge_size = 30
nbirds = int(len(birdsDF) / nframes)

singlebirdDF = birdsDF[0 : nframes]
time_to_first_allbirds = np.zeros([nbirds,1])

 
for bird_id in range(nbirds):
    singlebirdDF = birdsDF[0 : nframes]
    # display(singlebirdDF)
    time_to_first_allbirds[bird_id] = success_metrics.compute_time_to_first_reward(singlebirdDF, rewardsDF)

print(time_to_first_allbirds)

num_birds_failed = np.sum(time_to_first_allbirds < 0)
print(num_birds_failed)

[[-1.]
 [-1.]
 [-1.]
 [-1.]]
4